<!-- Botón de Regreso -->
<button class="regreso" [routerLink]="'/vistaUsuario'">
  <i class="material-icons icono">arrow_back</i> Regresar
</button>

<!-- Formulario para Subir Archivo del Historial Académico -->
<div class="upload-container">
  <input type="file" class="file-input" (change)="onFileSelected($event)" />
  <button
    class="upload-button"
    (click)="uploadFile()"
    [disabled]="!selectedFile"
  >
    Subir Archivo
  </button>
</div>

<!-- Lista de archivos subidos -->
<div class="file-list" *ngIf="files$ | async as files">
  <div *ngFor="let file of files" class="file-item">
    <p>{{ file.filename }}</p>
    <button class="delete-button" (click)="deleteFiles(file.filename)">
      Eliminar
    </button>
  </div>
</div>
