<button  class="regreso" [routerLink]="'/vistaUsuario'"><i class="material-icons icono">rotate_left</i> </button>
<body>
<form>
  <label for="tramite">Trámite:</label>
  <select id="tramite" name="tramite" class="editable" required [(ngModel)]="ingreso.tramite">
    <option value="">Elije tu tipo de Trámite </option>
    <option *ngFor="let tram of tra" [ngValue]="tram">
      {{tram.tipo_tramite}}
    </option>
    <!-- Agrega más opciones según sea necesario -->
  </select>

  <p>Elijiste el tipo de tramite  de: {{ingreso.tramite.tipo_tramite  | json}}</p>

  <label for="perfilamiento">Perfilamiento:</label>
  <select id="perfilamiento" name="perfilamiento" class="editable" required [(ngModel)]="ingreso.perfilamiento">
    <option value="">Elije tu tipo de Perfilamiento</option>
    <option *ngFor="let perfil of perfis" [ngValue]="perfil">
      {{perfil.nombre}}
    </option>
    <!-- Agrega más opciones según sea necesario -->
  </select>

  <p>Elijiste el perfil de : {{ingreso.perfilamiento.nombre | json}}</p>

  <label for="turno">Turno:</label>
  <select id="turno" name="turno" class="editable" required [(ngModel)]="ingreso.turno">
    <option value="">Elije el turno</option>
    <option  *ngFor="let tur of tunr" [ngValue]="tur">
      {{tur.tipo_turno}}
    </option>
    <!-- Agrega más opciones según sea necesario -->
  </select>

  <p>Elijiste el turno: {{ingreso.turno.tipo_turno | json}}</p>

  <label for="modalidad">Modalidad:</label>
  <select id="modalidad" name="modalidad" class="editable" required [(ngModel)]="ingreso.moda">
    <option value="">Elije tu tipo de Modalidad </option>
    <option *ngFor="let modas of moda" [ngValue]="modas">
      {{modas.tipo_modalidad}}
    </option>
    <!-- Agrega más opciones según sea necesario -->
  </select>

  <p>Elijiste la modalidad: {{ingreso.moda.tipo_modalidad | json}}</p>

  <label for="cv">CV:</label>
  <input type="text" id="cv" name="cv" class="editable"
         placeholder="CV" required [ngModel]="ingreso.cv">

  <label for="historialacademico">Historial Académico:</label>
  <input type="text" id="historialacademico" name="historialacademico" class="editable"
         placeholder="Historial Académico" required [ngModel]="ingreso.historial_Academico">

  <button  (click)="editar()" >Actualizar</button>

</form>

</body>
