<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="acceso()">
    <label for="username">Usuario:</label>
    <input
      type="text"
      id="username"
      name="username"
      required
      [(ngModel)]="compa.username"
    />

    <label for="password">Contraseña:</label>
    <input
      type="password"
      id="password"
      name="password"
      required
      [(ngModel)]="compa.password"
    />
    <label for="tipo">Tipo de Usuario:</label>
    <select id="tipo" name="tipo" [(ngModel)]="compa.tipo" required>
      <option value="usuario">Usuario</option>
      <option value="admins">Administrador</option>
    </select>

    <button type="submit">Iniciar sesión</button>

    <p>si no tienes cuenta puedes registrarte</p>
    <button type="button" [routerLink]="'/registro'">Registrate</button>
  </form>
</div>
