<body>

<button class="regreso" [routerLink]="'/datos-extras'"><i class="material-icons">arrow_back</i> Regresar</button>

<div class="contenedor-tabla">
  <h1> Horario</h1>


  <!-- Tabla de Universidades -->
  <table class="tabla-datos">
    <thead>
    <tr>
      <th>ID</th>
      <th>Horario</th>
    </tr>
    </thead>
    <tbody>
    <!-- Filas de datos aquí -->
    <tr *ngFor="let hora of horas">
      <td>{{hora.id_horario}}</td>
      <td>{{hora.horario}}</td>
    </tr>
    </tbody>
  </table>
</div>


</body>
