.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.regreso {
  background-color: #285C4D;
  color: #FFFFFF;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 15px;
}

.form-section {
  background-color: #3C3C3C;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  width: 70%;
}

h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.edit-icon {
  cursor: pointer;
}

.editable {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

.save-button {
  background-color: #FF6347;
  color: #FFFFFF;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
}

.save-button:hover {
  background-color: #D31A00;
}
