/* Colores */
.regreso {
  background-color: #13322B;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.regreso:hover {
  background-color: #285C4D;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #D4C19C;
  border-radius: 10px;
  width: 50%;
}

h2 {
  color: #56242A;
}

.edit-icon {
  color: #4E232E;
  cursor: pointer;
}

.editable {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #B38E5D;
  border-radius: 5px;
}

.save-button {
  background-color: #9D2449;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #621132;
}
