<button class="regreso" [routerLink]="'/vistaUsuario'">
  <i class="material-icons icono">rotate_left</i>
</button>
<div class="main-container">
  <div class="form-section">
    <h2>Datos Personales <i class="material-icons edit-icon">edit</i></h2>
    <div>
      <input type="text" class="editable" placeholder="Nombre" />
      <input type="text" class="editable" placeholder="Primer Apellido" />
      <input type="text" class="editable" placeholder="Segundo Apellido" />

      <!-- Otros campos de datos personales -->
      <button class="save-button">Guardar</button>
    </div>
  </div>

  <div class="form-section">
    <h2>Datos Escolares <i class="material-icons edit-icon">edit</i></h2>
    <div>
      <input type="text" class="editable" placeholder="Correo Institucional" />
      <input type="text" class="editable" placeholder="Carrera" />
      <!-- Otros campos de datos escolares -->
      <button class="save-button">Guardar</button>
    </div>
  </div>

  <div class="form-section">
    <h2>Datos Ingresos <i class="material-icons edit-icon">edit</i></h2>
    <div>
      <input type="text" class="editable" placeholder="Trámite" />
      <input type="text" class="editable" placeholder="Perfilamiento" />
      <!-- Otros campos de datos de ingresos -->
      <button class="save-button">Guardar</button>
    </div>
  </div>
</div>
