<body>

<button class="regreso" [routerLink]="'/datos-extras'"><i class="material-icons">arrow_back</i> Regresar</button>

<div class="contenedor-tabla">
  <h1> Enlaces</h1>
  <!-- Tabla de Universidades -->
  <table class="tabla-datos">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tipo de enlace</th>
    </tr>
    </thead>
    <tbody>
    <!-- Filas de datos aquí -->
    <tr *ngFor="let enlace of enla">
      <td>{{enlace.id_enlace}}</td>
      <td>{{enlace.tipo_enlace}}</td>
    </tr>
    </tbody>
  </table>
</div>


</body>
