/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos del formulario */
form {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: auto; /* Centrar horizontalmente */
}

/* Estilos de las etiquetas */
label {
  font-size: 14px;
  color: #13322B;
  display: block;
  margin-bottom: 5px;
}

/* Estilos de los input y select */
.editable {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #285C4D;
  border-radius: 5px;
}

/* Estilos de los botones */
button {
  background-color: #4E232E;
  color: #FFFFFF;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* Estilo para el mensaje de elección */
p {
  margin: 10px 0;
  color: #56242A;
}

/* Alineación del formulario en dispositivos pequeños */
@media screen and (max-width: 600px) {
  form {
    width: 90%;
  }
}
