<button class="regreso" [routerLink]="'/General'">
  <i class="material-icons">arrow_back</i> Regresar
</button>

<div class="contenedor">
  <div class="contenedor-tabla">
    <h1>Admins</h1>
    <form id="formulario-admin">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        placeholder="Ingrese su nombre de usuario"
        name="username"
        required
        [(ngModel)]="admins.username"
      />
      <label for="contrasena">Contraseña:</label>
      <input
        type="password"
        id="contrasena"
        placeholder="Ingrese su contraseña"
        name="password"
        required
        [(ngModel)]="admins.password"
      />
      <button
        role="button"
        class="guardar-boton"
        (click)="guardar()"
        *ngIf="!admins.id_admin; else elseBlock"
      >
        Guardar
      </button>

      <ng-template #elseBlock>
        <button role="button" class="guardar-boton" (click)="editar()">
          Actualizar
        </button>
      </ng-template>

      <button type="button" [routerLink]="'/lista-admins'">Lista de Administradores</button>
    </form>
  </div>
</div>
