body {
  color: #D4C19C;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.regreso {
  background-color: #13322B;
  /* Color de fondo verde oscuro */
  color: #FFF;
  /* Texto blanco */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.regreso:hover {
  background-color: #285C4D;
  /* Color de fondo verde más claro al pasar el mouse */
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat-SemiBold';
}

.contenedor-tabla {
  background-color: #285C4D;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

#formulario-admin {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: #D4C19C;
  margin-top: 10px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

.guardar-boton {
  background-color: #9D2449;
  color: #D4C19C;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.guardar-boton:hover {
  background-color: #285C4D;
}

button[type="button"] {
  background-color: #9D2449;
  color: #D4C19C;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #9D2449;
}