/* estilos.css */

body {
  background-color: #F0F0F0;
  margin: 0;
}

.regreso {
  background-color: #13322B;
  /* Verde oscuro */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.regreso i {
  vertical-align: middle;
  margin-right: 5px;
}

.regreso:hover {
  background-color: #285C4D;
  /* Verde más claro */
}

.contenedor {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat-Medium';
}

.contenedor-tabla {
  flex: 1;
  margin: 20px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor-tabla h1,
.contenedor-tabla h2 {
  color: #4E232E;
  /* Vino tinto */
}

.tabla-datos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-datos th,
.tabla-datos td {
  border: 1px solid #D4C19C;
  /* Beige */
  padding: 10px;
  text-align: left;
}

.tabla-datos th {
  background-color: #13322B;
  /* Verde oscuro */
  color: white;
}

.guardar-boton,
.accion-boton,
button {
  background-color: #285C4D;
  /* Verde más claro */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat-Bold';
}

.guardar-boton:hover,
.accion-boton:hover,
button:hover {
  background-color: #13322B;
  /* Verde oscuro */
}

.label {
  display: block;
  margin-bottom: 8px;
  color: #4E232E;
  font-family: 'Montserrat-SemiBold';
  /* Vino tinto */
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #D4C19C;
  /* Beige */
  border-radius: 4px;
}