form {
  /*width: 300px;*/
  margin: 50px auto;
  padding: 20px;
  background-color: #D4C19C;
  /* Beige */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0;
  color: #9D2449;
  /* Rojo más claro */
}

.select,
input.editable,
select.editable {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #13322B;
  /* Verde oscuro */
  border-radius: 5px;
}

p {
  color: #B38E5D;
  /* Ocre */
  margin-top: 15px;
}

button {
  background-color: #4E232E;
  /* Vino tinto */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #56242A;
  /* Marrón rojizo */
}

.material-icons {
  font-size: 24px;
}

.regreso {
  background-color: #13322B;
  /* Verde oscuro */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.regreso:hover {
  background-color: #285C4D;
  /* Verde más claro */
}
