body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF; /* Color de fondo blanco */
}

.regreso {
  background-color: #13322B; /* Color de fondo verde oscuro */
  color: #FFF; /* Texto blanco */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.regreso:hover {
  background-color: #285C4D; /* Color de fondo verde más claro al pasar el mouse */
}

.contenedor-tabla {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #D4C19C; /* Color de fondo beige */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #B38E5D; /* Color de texto marrón rojizo */
  text-align: center;
  background-color: #56242A;
  border-radius: 23px;
}

.agregar-universidad-boton {
  background-color: #285C4D; /* Color de fondo verde más claro */
  color: #FFF; /* Texto blanco */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.agregar-universidad-boton:hover {
  background-color: #13322B; /* Color de fondo verde oscuro al pasar el mouse */
}

.tabla-datos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-datos th, .tabla-datos td {
  border: 1px solid #B38E5D; /* Color del borde ocre */
  padding: 10px;
  text-align: left;
}

.tabla-datos th {
  background-color: #4E232E; /* Color de fondo vino tinto */
  color: #FFF; /* Texto blanco */
}

.tabla-datos tbody tr:nth-child(even) {
  background-color: #B38E5D; /* Color de fondo ocre en filas pares */
}

.tabla-datos tbody tr:hover {
  background-color: #D4C19C; /* Color de fondo beige al pasar el mouse */
}

.accion-boton {
  background-color: #56242A; /* Color de fondo marrón rojizo */
  color: #FFF; /* Texto blanco */
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.accion-boton:hover {
  background-color: #9D2449; /* Color de fondo rojo más claro al pasar el mouse */
}

#formulario-universidad {
  margin-top: 20px;
}

#formulario-universidad label {
  display: block;
  margin-bottom: 5px;
}

#formulario-universidad input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #285C4D; /* Color de borde verde más claro */
  border-radius: 5px;
}

#formulario-universidad button {
  background-color: #285C4D; /* Color de fondo verde más claro */
  color: #FFF; /* Texto blanco */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#formulario-universidad button:hover {
  background-color: #13322B; /* Color de fondo verde oscuro al pasar el mouse */
}
