<body>
  <button class="regreso" [routerLink]="'/General'">
    <i class="material-icons">arrow_back</i> Regresar
  </button>
  <div class="contenedor-botones">
    <h1>Datos Extras</h1>
    <div class="fila-botones">
      <a class="boton-datos-extras" [routerLink]="'/universidades'">
        <i class="material-icons">school</i> Universidades
      </a>
      <a class="boton-datos-extras" [routerLink]="'/modalidades'">
        <i class="material-icons">extension</i> Modalidades
      </a>
      <a class="boton-datos-extras" [routerLink]="'/modalidad-escolar'">
        <i class="material-icons">school</i> Modalidad Escolar
      </a>
      <a class="boton-datos-extras" [routerLink]="'/tutor'">
        <i class="material-icons">person</i> Tutor
      </a>
    </div>

    <div class="fila-botones">
      <a class="boton-datos-extras" [routerLink]="'/tramite'">
        <i class="material-icons">description</i> Trámite
      </a>
      <a class="boton-datos-extras" [routerLink]="'/cursos'">
        <i class="material-icons">book</i> Cursos
      </a>
      <a class="boton-datos-extras" [routerLink]="'/grupo'">
        <i class="material-icons">group</i> Grupo
      </a>
      <a class="boton-datos-extras" [routerLink]="'/horario'">
        <i class="material-icons">schedule</i> Horario
      </a>
    </div>

    <div class="fila-botones">
      <a class="boton-datos-extras" [routerLink]="'/turno'">
        <i class="material-icons">access_time</i> Turno
      </a>
      <a class="boton-datos-extras" [routerLink]="'/perfilamiento'">
        <i class="material-icons">person_pin</i> Perfilamiento
      </a>
      <a class="boton-datos-extras" [routerLink]="'/periodo'">
        <i class="material-icons">date_range</i> Periodo
      </a>
      <a class="boton-datos-extras" [routerLink]="'/plan-educativo'">
        <i class="material-icons">school</i> Plan Educativo
      </a>
    </div>

    <div class="fila-botones">
      <a class="boton-datos-extras" [routerLink]="'/sexo'">
        <i class="material-icons">wc</i> Sexo
      </a>
      <a class="boton-datos-extras" [routerLink]="'/enlace'">
        <i class="material-icons">social_distance</i> Enlace
      </a>
      <a class="boton-datos-extras" [routerLink]="'/estatus-infotec'">
        <i class="material-icons">sync</i> Estatus Infotec
      </a>
      <a class="boton-datos-extras" [routerLink]="'/proyectos'">
        <i class="material-icons">group_work</i> Proyectos
      </a>
    </div>
  </div>
</body>
