body {
  background-color: #13322B;
  color: #D4C16C;
  margin: 0;
  padding: 0;
}

.regreso {
  background-color: #285C4D;
  color: #D4C16C;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.contenedor-tabla {
  background-color: #56242A;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1 {
  color: #D4C16C;
  text-align: center;
}

#formulario-grupo {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #D4C16C;
}

input {
  width: 40%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #D4C16C;
  border-radius: 5px;
}

button {
  background-color: #285C4D;
  color: #D4C16C;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #621132;
}

.tabla-datos {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #D4C16C;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #13322B;
}

.accion-boton {
  background-color: #9D2449;
  color: #D4C16C;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
}

.accion-boton:hover {
  background-color: #621132;
}

.pagination-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}