body {
  margin: 0;
  padding: 0;
}

.regreso {
  background-color: #13322B;
  /* Color de fondo verde oscuro */
  color: #FFF;
  /* Texto blanco */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.regreso:hover {
  background-color: #285C4D;
  /* Color de fondo verde más claro al pasar el mouse */
}

.contenedor-tabla {
  background-color: #D4C19C;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;

}

h1 {
  color: #621132;
  text-align: center;
  font-family: 'Monserrat-Bold';
}

.tabla-datos {
  font-family: 'Montserrat-Italic';
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

th,
td {
  border: 1px solid #285C4D;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #56242A;
  color: #D4C19C;
}

tbody tr:hover {
  background-color: #285C4D;
}

.accion-boton {
  background-color: #4E232E;
  color: #D4C19C;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.accion-boton i {
  margin-right: 5px;
}

.accion-boton:hover {
  background-color: #621132;
}