<button class="regreso" [routerLink]="'/General'"><i class="material-icons">arrow_back</i> Regresar</button><body>
<h1>Bajas Temporales</h1>

<div class="contenedor-tabla">
  <h1>Datos Personales</h1>
  <table class="tabla-datos">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Primer Apellido</th>
      <th>Segundo Apellido</th>
      <th>Correo</th>
      <th>CURP</th>
      <th>EDAD</th>
      <th>Estado</th>
      <th>Municipio</th>
      <th>Dirección</th>
      <th>Género</th>
      <th>Teléfono</th>
      <th>Teléfono de Casa</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Filas de datos aquí -->
    <tr>
      <td>1</td>
      <td>Nombre Ejemplo</td>
      <td>correo@example.com</td>
      <td>
        <button class="restaurar-boton"><i class="material-icons">restore</i> Restaurar</button>
        <button class="eliminar-boton"><i class="material-icons">delete_forever</i> Eliminar Definitivamente</button>
      </td>
    </tr>
    </tbody>
  </table>
  </div>
<!--datos esoclares-->
<div class="contenedor-tabla">
  <h1>Datos Escolares</h1>
  <table class="tabla-datos">
    <thead>
    <tr>
      <th>ID</th>
      <th>Correo Institucional</th>
      <th>Carrera</th>
      <th>Universidad</th>
      <th>Matrícula</th>
      <th>Modalidad Escolar</th>
      <th>Plan de Estudio</th>
      <th>Periodo</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Filas de datos aquí -->
    <tr>
      <td>1</td>
      <td>Nombre Ejemplo</td>
      <td>correo@example.com</td>
      <td>
        <button class="restaurar-boton"><i class="material-icons">restore</i> Restaurar</button>
        <button class="eliminar-boton"><i class="material-icons">delete_forever</i> Eliminar Definitivamente</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--Datos ingresos-->
<div class="contenedor-tabla">
  <h1>Datos Ingresos</h1>
  <table class="tabla-datos">
    <thead>
    <tr>
      <th>ID</th>
      <th>Trámite</th>
      <th>Perfilamiento</th>
      <th>Turno</th>
      <th>Modalidad</th>
      <th>CV</th>
      <th>Historial Académico</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Filas de datos aquí -->
    <tr>
      <td>1</td>
      <td>Nombre Ejemplo</td>
      <td>correo@example.com</td>
      <td>
        <button class="restaurar-boton"><i class="material-icons">restore</i> Restaurar</button>
        <button class="eliminar-boton"><i class="material-icons">delete_forever</i> Eliminar Definitivamente</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--Datos FTD-->
<div class="contenedor-tabla">
  <h1>Datos FTD</h1>
  <table class="tabla-datos">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre de Proyecto</th>
      <th>Avance de Proyecto</th>
      <th>Evaluación del Proyecto</th>
      <th>Área Tutor</th>
      <th>Beca</th>
      <th>Fecha de Ingreso</th>
      <th>Fecha de Término</th>
      <th>Grupo</th>
      <th>Enlace</th>
      <th>Matrícula</th>
      <th>FTD</th>
      <th>Correo Becario</th>
      <th>Cursos</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Filas de datos aquí -->
    <tr>
      <td>1</td>
      <td>Nombre Ejemplo</td>
      <td>correo@example.com</td>
      <td>
        <button class="restaurar-boton"><i class="material-icons">restore</i> Restaurar</button>
        <button class="eliminar-boton"><i class="material-icons">delete_forever</i> Eliminar Definitivamente</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--Universiades-->
<div class="contenedor-tabla">
  <h1>Universidades</h1>
  <table class="tabla-datos">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Filas de datos aquí -->
    <tr>
      <td>1</td>
      <td>Nombre Ejemplo</td>
      <td>correo@example.com</td>
      <td>
        <button class="restaurar-boton"><i class="material-icons">restore</i> Restaurar</button>
        <button class="eliminar-boton"><i class="material-icons">delete_forever</i> Eliminar Definitivamente</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--Tramites-->
<div class="contenedor-tabla">
  <h1>Tramites</h1>
  <table class="tabla-datos">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tipo tramite</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Filas de datos aquí -->
    <tr>
      <td>1</td>
      <td>Nombre Ejemplo</td>
      <td>correo@example.com</td>
      <td>
        <button class="restaurar-boton"><i class="material-icons">restore</i> Restaurar</button>
        <button class="eliminar-boton"><i class="material-icons">delete_forever</i> Eliminar Definitivamente</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--Cursos-->
<div class="contenedor-tabla">
  <h1>Cursos</h1>
  <table class="tabla-datos">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre de curso</th>
      <th>Tipo curso</th>
      <th>Proceso</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Filas de datos aquí -->
    <tr>
      <td>1</td>
      <td>Nombre Ejemplo</td>
      <td>correo@example.com</td>
      <td>
        <button class="restaurar-boton"><i class="material-icons">restore</i> Restaurar</button>
        <button class="eliminar-boton"><i class="material-icons">delete_forever</i> Eliminar Definitivamente</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--Perfilamiento-->
<div class="contenedor-tabla">
  <h1>Perfilamiento</h1>
  <table class="tabla-datos">
    <thead>
    <tr>
      <th>ID</th>
      <th>Tipo perfilamiento</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Filas de datos aquí -->
    <tr>
      <td>1</td>
      <td>Nombre Ejemplo</td>
      <td>correo@example.com</td>
      <td>
        <button class="restaurar-boton"><i class="material-icons">restore</i> Restaurar</button>
        <button class="eliminar-boton"><i class="material-icons">delete_forever</i> Eliminar Definitivamente</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--Admins-->
<div class="contenedor-tabla">
  <h1>Lista de admins</h1>
  <table class="tabla-datos">
    <thead>
    <tr>
      <th>ID</th>
      <th>correo</th>
      <th>password</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Filas de datos aquí -->
    <tr>
      <td>1</td>
      <td>Nombre Ejemplo</td>
      <td>correo@example.com</td>
      <td>
        <button class="restaurar-boton"><i class="material-icons">restore</i> Restaurar</button>
        <button class="eliminar-boton"><i class="material-icons">delete_forever</i> Eliminar Definitivamente</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--usuarios-->
<div class="contenedor-tabla">
  <h1>Lista de usuarios</h1>
  <table class="tabla-datos">
    <thead>
    <tr>
      <th>ID</th>
      <th>username</th>
      <th>correo</th>
      <th>password</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Filas de datos aquí -->
    <tr>
      <td>1</td>
      <td>Nombre Ejemplo</td>
      <td>correo@example.com</td>
      <td>
        <button class="restaurar-boton"><i class="material-icons">restore</i> Restaurar</button>
        <button class="eliminar-boton"><i class="material-icons">delete_forever</i> Eliminar Definitivamente</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


</body>
