<button class="regreso" [routerLink]="'/General'">
  <i class="material-icons">arrow_back</i> Regresar
</button>
<body>
  <h1>Bajas Temporales</h1>

  <!--Universiades-->
  <div class="contenedor-tabla">
    <h1>Universidades</h1>
    <table class="tabla-datos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filas de datos aquí -->
        <tr>
          <td>1</td>
          <td>Nombre Ejemplo</td>
          <td>correo@example.com</td>
          <td>
            <button class="restaurar-boton">
              <i class="material-icons">restore</i> Restaurar
            </button>
            <button class="eliminar-boton">
              <i class="material-icons">delete_forever</i> Eliminar
              Definitivamente
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--Cursos-->
  <div class="contenedor-tabla">
    <h1>Cursos</h1>
    <table class="tabla-datos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre de curso</th>
          <th>Tipo de curso</th>
          <th>Unidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filas de datos aquí -->
        <tr>
          <td>1</td>
          <td>Nombre Ejemplo</td>
          <td>correo@example.com</td>
          <td>
            <button class="restaurar-boton">
              <i class="material-icons">restore</i> Restaurar
            </button>
            <button class="eliminar-boton">
              <i class="material-icons">delete_forever</i> Eliminar
              Definitivamente
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--Grupos-->
  <div class="contenedor-tabla">
    <h1>Grupos</h1>
    <table class="tabla-datos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filas de datos aquí -->
        <tr>
          <td>1</td>
          <td>Nombre Ejemplo</td>
          <td>correo@example.com</td>
          <td>
            <button class="restaurar-boton">
              <i class="material-icons">restore</i> Restaurar
            </button>
            <button class="eliminar-boton">
              <i class="material-icons">delete_forever</i> Eliminar
              Definitivamente
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--Perfilamiento-->
  <div class="contenedor-tabla">
    <h1>Perfilamiento</h1>
    <table class="tabla-datos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Descripcion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filas de datos aquí -->
        <tr>
          <td>1</td>
          <td>Nombre Ejemplo</td>
          <td>correo@example.com</td>
          <td>
            <button class="restaurar-boton">
              <i class="material-icons">restore</i> Restaurar
            </button>
            <button class="eliminar-boton">
              <i class="material-icons">delete_forever</i> Eliminar
              Definitivamente
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--Proyectos-->
  <div class="contenedor-tabla">
    <h1>Proyectos</h1>
    <table class="tabla-datos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Avance</th>
          <th>Evaluacion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filas de datos aquí -->
        <tr>
          <td>1</td>
          <td>Nombre Ejemplo</td>
          <td>correo@example.com</td>
          <td>
            <button class="restaurar-boton">
              <i class="material-icons">restore</i> Restaurar
            </button>
            <button class="eliminar-boton">
              <i class="material-icons">delete_forever</i> Eliminar
              Definitivamente
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
