 <!-- Regreso -->
  <button class="regreso" [routerLink]="'/General'">
    <i class="material-icons">arrow_back</i> Regresar
  </button>

  <!-- Universidades -->
  <div class="contenedor-tabla">
    <h1>Universidades</h1>
    <table class="tabla-datos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let uni of universidades">
         <td>{{uni.id_uni}}</td>
         <td>{{uni.nombre}}</td>
         <td>
           <button
             class="accion-boton"
             title="restaurar"
                        >
             <i class="material-icons">edit</i> Editar
           </button>


         </td>
       </tr>
      </tbody>
    </table>
  </div>

  <!-- Cursos -->
  <div class="contenedor-tabla">
    <h1>Cursos</h1>
    <table class="tabla-datos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre de curso</th>
          <th>Tipo de curso</th>
          <th>Unidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filas de datos aquí -->
      </tbody>
    </table>
  </div>

  <!-- Grupos -->
  <div class="contenedor-tabla">
    <h1>Grupos</h1>
    <table class="tabla-datos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filas de datos aquí -->
      </tbody>
    </table>
  </div>

  <!-- Perfilamiento -->
  <div class="contenedor-tabla">
    <h1>Perfilamiento</h1>
    <table class="tabla-datos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filas de datos aquí -->
      </tbody>
    </table>
  </div>

  <!-- Proyectos -->
  <div class="contenedor-tabla">
    <h1>Proyectos</h1>
    <table class="tabla-datos">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Avance</th>
          <th>Evaluación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Filas de datos aquí -->
      </tbody>
    </table>
  </div>
