<button class="regreso" [routerLink]="'/registro'"><i class="material-icons">arrow_back</i> Regresar</button>
<div class="contenedor-tabla">

  <form>
    <label for="username">Username: </label>
    <input
      type="text"
      id="username"
      name="username"
      required
      [(ngModel)]="mostrarDato.username"
    />

    <label for="correo">Correo: </label>
    <input
      type="email"
      id="correo"
      name="correo"
      required
      [(ngModel)]="mostrarDato.correo"
    />

    <label for="password">Password: </label>
    <input
      type="password"
      id="password"
      name="password"
      required
      [(ngModel)]="mostrarDato.password"
    />
  </form>
</div>

<button type="button" [routerLink]="['/registro-personales', this.mostrarDato.id]" >Crear Datos personales</button>



