body {
  /*background-color: #F5F5F5;*/
  color: #333;
  margin: 0;
  padding: 0;
}

.regreso {
  background-color: #13322B;
  /* Color de fondo verde oscuro */
  color: #FFF;
  /* Texto blanco */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.regreso i {
  vertical-align: middle;
}

.contenedor-tabla {
  background-color: #D4C19C;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

h1 {
  color: #D4C19C;
  text-align: center;
  background-color: #621132;
  border-radius: 23px;
}

#formulario-universidad {
  /*background-color: #13322B;*/
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  text-align: center;
}

label {
  font-family: 'Montserrat-Bold';
  display: block;
  size: 20px;
  margin-bottom: 10px;
  color: #621132;
  text-align: center;
}

input {
  width: 40%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #D4C19C;
  border-radius: 5px;
  box-sizing: border-box;
  align-items: center;
}

button {
  background-color: #9D2449;
  color: #D4C19C;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #285C4D;
}

.tabla-datos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #9D2449;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #56242A;
  color: #D4C19C;
}

tbody tr:hover {
  background-color: #285C4D;
}

.accion-boton {
  background-color: #4E232E;
  color: #D4C19C;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.accion-boton i {
  margin-right: 5px;
}

.accion-boton:hover {
  background-color: #285C4D;
}