:root {
  --verde: #13322B;
  --verde-claro: #285C4D;
  --vino: #4E232E;
  --vino-oscuro: #56242q;
  --beige: #D4C19C;
  --pantone-1: #621132;
  --pantone-2: #9D2449;
}
form {
  background-color: var(--beige);
  border: none;
  border-radius: 0.5em;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

label {
  color: var(--pantone-2);
  font-size: 0.9em;
}

input, select {
  width: 70%;
  border: none;
  border-bottom: 2px solid var(--pantone-1);
  padding: 0.5em;
  margin-bottom: 1.5em;
}

input:focus, select:focus {
  outline: none;
  border-bottom-color: var(--pantone-2);
}

button {
  background-color: var(--verde-claro);
  color: white;
  border: none;
  padding: 0.75em 2em;
  border-radius: 2em;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button:hover {
  background-color: var(--verde);
}
