body {
  font-family: 'Montserrat-Bold';
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150vh;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 430px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
select {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #285C4D;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #13322B;
}

.regreso {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #13322B;
  /* Color de fondo verde oscuro */
  color: #FFF;
  /* Texto blanco */
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}