.regreso {
  background-color: #13322B; /* Verde oscuro */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.regreso i {
  vertical-align: middle;
  margin-right: 5px;
}

.regreso:hover {
  background-color: #285C4D; /* Verde más claro */
}

form {
  background-color: #FFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra el formulario en la página */
  font-family: 'Montserrat-Bold';
}

label {
  display: block;
  margin-bottom: 8px;
  color: #4E232E; /* Vino tinto */
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #D4C19C; /* Beige */
  border-radius: 4px;
}

button {
  background-color: #285C4D; /* Verde más claro */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #13322B; /* Verde oscuro */
}

select {
  width: calc(100% - 18px); /* Ajusta el ancho del elemento 'select' para evitar desbordamiento */
}

/* Agrega estilos adicionales según sea necesario */
